
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #12121d;
    color: #ffffff;
  }
  
  .app {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    color: #ffffff;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    background-color: #272735;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    text-align: left;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
  }
  
  .card-content p {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .card-content p strong {
    color: #444;
  }
  